:root{
    --TextColorYellow :#FFBB31;
    --TextColorGray:#8B8B8B;
    --LeftRightPadding: 0 50px;
}



.Navbar{
    width: 100%;
    height: 95px;
    padding: var(--LeftRightPadding);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;  /*When I add this 2 lines the height of slide is reduce*/
    top: 0;
}

.Nav-first-part{
    display: flex;
    gap: 2rem;
    width: 65%;
    align-items: center;
    flex-shrink: 3;
}

.Navbar ul{
    list-style: none;
    margin-bottom: 0;
    display: flex;
    gap: 1.5rem;
    /* border: 2px solid; */
}

.Navbar ul .Active{
    color:var(--TextColorYellow) ;
}

.Navbar ul a{
    text-decoration: none;
    color:var(--TextColorGray) ;
    font-weight: 700;
}
.Navbar ul a:hover{
    color: var(--TextColorYellow);
}

.Nav-sec-part{
    /* border: 2px solid blue; */
    width: 35%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8%;
    flex-basis: 35%;
}

div.Contact{
    border-right: 0.5px solid gray;
    padding-right: 2.5rem;
}
div.Contact a {
    text-decoration: none;
    color: var(--TextColorGray);
}

div.Contact a p{
    margin-bottom: 0;
}
.Social-logo{
    display: flex;
    gap: 1rem;
}
.Social-logo :nth-child(3):hover{
    color: red;
}
.Social-logo :nth-child(4):hover{
    color: red;
    }
.Social-logo a{
    text-decoration: none;
    color: var(--TextColorGray);
}

        /* Slider code start from here  */

.Slider{
    /* border: 2px solid gray; */
    background-image: url('https://deothemes.com/envato/sedona/html/img/revolution/home-1/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 95vw;
    height: 90vh;
    margin: auto;
    margin-bottom:30px;
}

        /* Home page section 1 code is starting from here  */

.Home-section-1{
padding: var(--LeftRightPadding);
display: flex;
}

.Home-section-1 .section-1-1{
    padding-top: 8px;
    width: 50vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}
.Home-section-1 .section-1-1 h2{
    font-size: 2.5rem;
    line-height: 1.5rem;
}

.Home-section-1 .section-1-1 .Icons{
    width: 100%;
    display: flex;
    gap: 5rem;
    font-size: 1.2rem;
} 
.Home-section-1 .section-1-1 .Icons .Icon1,.Icon2,.Icon3{
    text-align: center;
}
.Home-section-1 .section-1-1 .Icons .Icon1 i,
.Home-section-1 .section-1-1 .Icons .Icon2 i,
.Home-section-1 .section-1-1 .Icons .Icon3 i{
    font-size: 3rem;
}
.Home-section-1 .section-1-2{
    /* border: 2px solid green; */
    width: 45vw;
    height: 70vh;
    background: url('https://deothemes.com/envato/sedona/html/img/intro/1.jpg') no-repeat;
    
}
        /* Home page section 2 code is starting from here  */
.Home-section-2{
    padding: var(--LeftRightPadding);
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
 
}
.Home-section-2 .section-2-1 ul{
  /* border: 2px solid; */
  list-style: none;
  display: flex;
  gap: 1.5rem;
  padding-left: 0;
  margin-top: 2.5rem;
}
.Home-section-2 .section-2-1 ul .Active{
    color:var(--TextColorYellow) ;
    border-bottom: 2px solid var(--TextColorYellow);
}
.Home-section-2 .section-2-1 ul a{
    text-decoration: none;
    color:var(--TextColorGray) ;
    font-weight: 700;
} 
.Home-section-2 .section-2-1 ul a:hover{
    color: var(--TextColorYellow);
    border-bottom: 2px solid var(--TextColorYellow);
}
.Home-section-2 .section-2-2{
    margin-top: 3rem;
    display: flex;
    gap: 3rem;
}
.Home-section-2 .section-2-2 .Images{
    width: 30%;
    height: 45vh;
    /* border: 2px solid; */
    background: url('https://www.shutterstock.com/shutterstock/photos/16801030/display_1500/stock-photo-modern-single-business-building-in-tropical-country-16801030.jpg'), no-repeat;
    background-size: cover;
}
.Home-section-2 .section-2-2 .Image3{
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

        /* Home page section 3 code is starting from here  */
.Home-section-3{
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url('https://images.pexels.com/photos/323705/pexels-photo-323705.jpeg?auto=compress&cs=tinysrgb&w=400');
    background-repeat: no-repeat;
    background-size: 100% 85%;
    background-color: #F9F9F9;
    width: 90vw;
    cursor: default;
    padding: 0 , var(--LeftRightPadding);
    height: 90vh;
    margin: auto;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Home-section-3 .section-3-1 .Graph1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Home-section-3 .section-3-1 .Graph1 h2{
    color: white;
    font-size: 2.5rem;
}
.Home-section-3 .section-3-1 .Graph1 p{
    color: var(--TextColorGray);
    font-size: 5rem;
}
.Home-section-3 .section-3-1 .Graph1 .hd1{
    color: #FFBB31;
    font-size: 1.5rem;
}
.Home-section-3 .section-3-1 .section-3-1-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Home-section-3 .section-3-1 .section-3-1-1 i{
    color: var(--TextColorGray);
    font-size: 1.5rem;
}

.Home-section-3 .section-3-1 .section-3-1-1 i:hover{
    color: white;
    cursor: pointer;
}
.Home-section-3 .section-3-1 .Graph2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    color: var(--TextColorGray);
}
.Home-section-3 .section-3-1 .Graph2 .hd2{
    color: white;
}
.Home-section-3 .section-3-1 .Graph2 span{
    color: var(--TextColorYellow);
}

    /* Home page section 4 code is starting from here  */
.Home-section-4{
    border: 2px solid;
    display: flex;
    justify-content: center;
    gap: 10%;
}
.Home-section-4 .section-4-1{
    width: 22%;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.Home-section-4 .section-4-1 h2{
    color: var(--TextColorYellow);
    font-size: 1rem;
}
.Home-section-4 .section-4-1 h3{
    font-size: 2.5rem;
}
.Home-section-4 .section-4-1 p{
    color: var(--TextColorGray);
}
.Home-section-4 .section-4-1 .Card{
    background-color: var(--TextColorYellow);
    border-radius: 15px;
    padding: 10px 0;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    /* align-items:center; */
    flex-wrap: wrap;
}
.Home-section-4 .section-4-1 .Card p{
    color: black;
}
.Home-section-4 .section-4-1 .Card i{
    font-size: 2.5rem;
}
.Home-section-4 .section-4-2{
    width: 50%;
    display: flex;
    gap: 10%;
    flex-wrap: wrap;
}
.Home-section-4 .section-4-2 .Card{
    width: 45%;
}
.Home-section-4 .section-4-2 .Card h3{
    font-size: 1.5rem;
}
.Home-section-4 .section-4-2 .Card h3:hover{
    color: var(--TextColorYellow);
    cursor: pointer;
}
.Home-section-4 .section-4-2 .Card p{
    margin-top: 1rem;
}





            /* Contact file code start from here  */
.Conslider{
    background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.25)),url('https://images.pexels.com/photos/4065617/pexels-photo-4065617.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 60vh;
    width: 85vw;
    margin: auto;
    padding:var(--LeftRightPadding);
    color: white;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Contact-section-1{
    display: flex;
    justify-content: space-around;
}
.Contact-section-1 .section-1-1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
    height: 60vh;
}
.Contact-section-1 .section-1-1 h3{
    color: black;
    font-size: 1.5rem;
}
.Contact-section-1 .section-1-1 p{
    color: var(--TextColorGray);
    line-height: 0.5rem;
}
.Contact-section-1 .section-1-2{
    color: var(--TextColorGray);
    font-size: 1.5rem;
}
.Contact-section-1 .section-1-2 h2{
    color: black;
    font-size: 2.5rem;
}
.Contact-section-1 .section-1-2 .form{
    padding-top: 3rem;
    height: 130%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.Contact-section-1 .section-1-2 .form input::placeholder{
    color: black;
}
.Contact-section-1 .section-1-2 .form input:focus{
    border-bottom: 1px solid var(--TextColorYellow);
}
.Contact-section-1 .section-1-2 .form input:focus::placeholder {
    color: var(--TextColorYellow);
    /* padding-top: -10rem;  it's not working on psedu classes*/ 
}
.Contact-section-1 .section-1-2 .form .Inputs{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.Contact-section-1 .section-1-2 .form .Inputs input {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--TextColorGray);
    flex: 1; /* This will make both input fields take equal width */
    
}
.Contact-section-1 .section-1-2 .form .Inp3{
    flex-grow: 2;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--TextColorGray);
}

.Contact-section-1 .section-1-2 .form .Inp4{
    flex-grow: 3;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--TextColorGray);
}
.Contact-section-1 .section-1-2 .form .btn{
    background-color: var(--TextColorYellow);
    border: none;
    width: 35%;
    height: 12%;
    font-weight: 700;
    color: black;
}
.Contact-section-1 .section-1-2 .form .btn:hover{
    background-color:rgba(255, 187, 49,0.95);
}